.app{
  background: #0B2434;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tenzies{ 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  padding: 16px;
  width: 400px;
  height: 400px;
  border-radius: 12px;
  
}

.tenzies.animate{
  animation: tenzies 0.1s infinite ease-in-out;
}

@keyframes tenzies{
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-10px);
  }
}

.tenzies-title{
  font-size: 2rem;
  color: #5035ff;
  margin: 0;
  padding: 0;
}

.tenzies-desc{
  width: 90%;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
.dice-container{
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
  gap: 20px;
}

.die-face{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 4px;
  box-shadow: inset 2px -2px 7px rgba(0,0,0,0.7);
  user-select: none;
  cursor: pointer;
}

h3{
  font-size: 2rem;
}

.roll-dice-btn{
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 16px;
  background: #5035ff;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.roll-dice-btn:focus{
  outline: none;
}

.roll-dice-btn:active{
  box-shadow: inset 2px -2px 7px rgba(0,0,0,0.7);
}